@model ComputerStore.Models.Orders
@using ComputerStore.Models
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>טופס קניה</title>
    <script src="~/Scripts/jquery-2.1.4.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="~/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/css/jumbotron.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="~/css/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="~/css/js/html5shiv.min.js"></script>
      <script src="~/css/js/respond.min.js"></script>
    <![endif]-->

    <meta name="NetsparkQuiltingResult" total-length="5106" removed="0" rules-found="w2845,w3477,w7694,w221,w4318,w8192,w3281,w5783" />
    <style>
        div.absolute {
            position: absolute;
            right: 20px;
            width: 200px;
            height: 120px;
        }

        div.left {
    position: relative;
    right: -40px;
    width: 0;
    top: -300px;
        }
    </style>
    <style type="text/css">
        .form-style-2 {
            max-width: 500px;
            padding: 20px 12px 10px 20px;
            font: 13px Arial, Helvetica, sans-serif;
            position: absolute;
            right: 20px;
        }

        .form-style-2-heading {
            font-weight: bold;
            font-style: italic;
            border-bottom: 2px solid #ddd;
            margin-bottom: 20px;
            font-size: 25px;
            padding-bottom: 3px;
            right: 20px;
        }

        .form-style-2 label {
            display: block;
            margin: 0px 0px 15px 0px;
        }

            .form-style-2 label > span {
                width: 100px;
                font-weight: bold;
                float: right;
                padding-top: 8px;
                padding-right: 5px;
            }

        .form-style-2 span.required {
            color: red;
        }

        .form-style-2 .tel-number-field {
            width: 40px;
            text-align: center;
        }

        .form-style-2 input.input-field {
            width: 48%;
        }

        .form-style-2 input.input-field,
        .form-style-2 .tel-number-field,
        .form-style-2 .textarea-field,
        .form-style-2 .select-field {
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            border: 1px solid #C2C2C2;
            box-shadow: 1px 1px 4px #EBEBEB;
            -moz-box-shadow: 1px 1px 4px #EBEBEB;
            -webkit-box-shadow: 1px 1px 4px #EBEBEB;
            border-radius: 3px;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            padding: 7px;
            outline: none;
        }

            .form-style-2 .input-field:focus,
            .form-style-2 .tel-number-field:focus,
            .form-style-2 .textarea-field:focus,
            .form-style-2 .select-field:focus {
                border: 1px solid #0C0;
            }

        .form-style-2 .textarea-field {
            height: 100px;
            width: 55%;
        }

   
    </style>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header navbar-right">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @{ if (Session["Admin"] != null)
                    {
                        <span class="navbar-brand navbar-right" style="color:white">@Html.ActionLink("דף ניהול", "Index", "Admin")</span>
                        <span class="navbar-brand navbar-right" style="color:white">@Html.ActionLink("הוספת מוצר", "InventoryPage", "Admin")</span>
                        <span class="navbar-brand navbar-right" style="color:white">@Html.ActionLink("שינוי מוצרים", "ViewItem", "Admin")</span>
                        <span class="navbar-brand navbar-right" style="color:white">@Html.ActionLink("הזמנות", "ViewOrders", "Admin")</span>
                    }
                    else
                    {
                        <span class="navbar-brand navbar-right" style="color:white">@Html.ActionLink("כניסה למנהל", "Login", "Admin")</span>

                    }
 
                        <span class="navbar-brand navbar-right" style="color:white">@Html.ActionLink("דף הבית", "home")</span>
                        <span class="navbar-brand navbar-right" style="color:white">@Html.ActionLink("חיפוש מוצרים", "SearchItems")</span>
                   
                }
            </div>
            <div id="navbar" class="navbar-collapse collapse navbar-left">

                @{ if (Session["Admin"] != null)
                    {

                        <span class="navbar-brand" style="color:white">  @Session["Admin"]</span>
                        <span class="navbar-brand" style="color:white">@Html.ActionLink("התנתק", "Logout", "Admin")</span>
                    }
                    else
                    {
                        <span class="navbar-brand" style="color:white">  שלום אורח</span>
                    }
                }

            </div><!--/.navbar-collapse -->
        </div>
    </nav>
    <div>
        <div class="jumbotron">
            <div class="container marketing" style="text-align:right">
                <h1>דף קנית מוצר</h1>
                <p>בדף זה אפשר לקנות את המוצר</p>
            </div>
        </div>
        @{
            if (ViewData["Error"] != null)
            {
                <div class="alert alert alert-danger">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <p class="text-right"><strong>שגיאה</strong>  @ViewData["Error"]</p>
                </div>
            }
        }

        @using (@Html.BeginForm("HandleOrderData", "home"))
        {
            <div class="form-style-2">
                <div class="form-style-2-heading" style="text-align:right">טופס קניה</div>
                @Html.TextBoxFor(m => m.Name, new { @readonly = "readonly", @Disable = "true", Value = @Model.Name,@type= "hidden", @class = "input-field" })
                <label for="field1"><span><span class="required">*</span>שם המוצר </span>@Html.Label(Model.Name)</label>
                <span style="color:red">@Html.ValidationMessageFor(x => x.Name)</span>
                <label for="field2">
                    <span><span class="required">*</span>כמות</span>@Html.TextBoxFor(m => m.Amount, new { @class = "input-field" ,Value="1"})
                </label>

                <span style="color:red">@Html.ValidationMessageFor(x => x.Amount)</span>

                @if (ViewData["Amount"] != null)
                {
                    <span style="color:red"> הכמות המקסימלית למוצר זה : @ViewData["Amount"] </span>
                }
                @if (Session["Admin"] != null)
                {
                    <label for="field3"><span><span class="required">*</span>שם הקונה </span>@Html.TextBoxFor(m => m.BuyerName, new { @class = "input-field" ,Value=Session["Admin"] })</label>
                }
                else
                {
                <label for="field3"><span><span class="required">*</span>שם הקונה </span>@Html.TextBoxFor(m => m.BuyerName, new { @class = "input-field" })</label> 
                }
                <span style="color:red">@Html.ValidationMessageFor(x => x.BuyerName)</span>


                <label>
               
                      <span>&nbsp;</span>  <input id="subEnter" class="btn btn-success" name="subEnter" type="submit" value="קנה עכשיו" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" class="btn btn-danger" onclick="location.href = '/home/home'" value="בטל קניה"/>
                </label>
                    

            </div>
           
        }
        
        <center>
            
            <img src="@ViewData["pic"]" alt="תמונה" name="pic1" id="pic1" width="400" height="300" />
            
        </center>
        <div class="left">
            <img src="" alt="הפרסומת שלך יכולה להיות כאן" name="pic1" id="pic1" width="300" height="300" />
        </div>
    </div>
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="~/css/js/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="~/css/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="~/css/js/ie10-viewport-bug-workaround.js"></script>

</body>
</html>
