@model ComputerStore.Models.Inventory

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>דף הוספת מוצר</title>
    <script src="~/Scripts/jquery-2.1.4.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="~/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/css/jumbotron.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="~/css/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="~/css/js/html5shiv.min.js"></script>
      <script src="~/css/js/respond.min.js"></script>
    <![endif]-->

    <meta name="NetsparkQuiltingResult" total-length="5106" removed="0" rules-found="w2845,w3477,w7694,w221,w4318,w8192,w3281,w5783" />
    <style>
        div.absolute {
            position: absolute;
            right: 20px;
            width: 200px;
            height: 120px;
        }

        div.center {
            position: absolute;
            right: 400px;
            width: 400px;
            top: 80px;
            height: 100px;
            border: 3px solid #8AC007;
        }
    </style>
    <style type="text/css">
        .form-style-2 {
            max-width: 500px;
            padding: 20px 12px 10px 20px;
            font: 13px Arial, Helvetica, sans-serif;
            position: absolute;
            right: 20px;
        }

        .form-style-2-heading {
            font-weight: bold;
            font-style: italic;
            border-bottom: 2px solid #ddd;
            margin-bottom: 20px;
            font-size: 25px;
            padding-bottom: 3px;
            right: 20px;
        }

        .form-style-2 label {
            display: block;
            margin: 0px 0px 15px 0px;
        }

            .form-style-2 label > span {
                width: 100px;
                font-weight: bold;
                float: right;
                padding-top: 8px;
                padding-right: 5px;
            }

        .form-style-2 span.required {
            color: red;
        }

        .form-style-2 .tel-number-field {
            width: 40px;
            text-align: center;
        }

        .form-style-2 input.input-field {
            width: 48%;
        }

        .form-style-2 input.input-field,
        .form-style-2 .tel-number-field,
        .form-style-2 .textarea-field,
        .form-style-2 .select-field {
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            border: 1px solid #C2C2C2;
            box-shadow: 1px 1px 4px #EBEBEB;
            -moz-box-shadow: 1px 1px 4px #EBEBEB;
            -webkit-box-shadow: 1px 1px 4px #EBEBEB;
            border-radius: 3px;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            padding: 7px;
            outline: none;
        }

            .form-style-2 .input-field:focus,
            .form-style-2 .tel-number-field:focus,
            .form-style-2 .textarea-field:focus,
            .form-style-2 .select-field:focus {
                border: 1px solid #0C0;
            }

        .form-style-2 .textarea-field {
            height: 100px;
            width: 55%;
        }

    </style>
    <script type="text/javascript" language="javascript">
        function foo1() {
            var name;
            name = "";       
            name = document.getElementById("url").value;
            document.getElementById("pic1").src = name;
        };

    </script>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top text-right" >
        <div class="container">
            <div class="navbar-header navbar-right">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <span class="navbar-brand navbar-right" style="color:white">@Html.ActionLink("דף ניהול", "Index")</span>
                <span class="navbar-brand navbar-right" style="color:white">@Html.ActionLink("הוספת מוצר", "InventoryPage")</span>
                <span class="navbar-brand navbar-right" style="color:white">@Html.ActionLink("שינוי מוצרים", "ViewItem", "Admin")</span>
                <span class="navbar-brand navbar-right" style="color:white">@Html.ActionLink("הזמנות", "ViewOrders")</span>
            </div>
            <div id="navbar" class="navbar-collapse collapse navbar-left">
                        <span class="navbar-brand" style="color:white">  @Session["Admin"]</span>
                        <span class="navbar-brand" style="color:white" href="#">@Html.ActionLink("התנתק", "Logout")</span>

            </div><!--/.nav
            </div><!--/.navbar-collapse -->
        </div>
    </nav>
    <div>

        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
            <div class="container marketing" style="text-align:right">
                <h1>הוספת מוצר</h1>
                <p>דף הוספת מוצר</p>
            </div>
            </div>


            @{
                if (ViewData["Error"] != null)
                {
                    <div class="alert alert alert-danger">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <p class="text-right"><strong>שגיאה</strong>@ViewData["Error"]</p>
                    </div>
                }
                if (ViewData["Ok"] != null)
                {
                    <div class="alert alert-success">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <p class="text-right"><strong>הפעולה עברה בהצלחה!</strong> @ViewData["Ok"]</p>
                    </div>
                }

            }
            <div class="container marketing">
                @using (@Html.BeginForm("AddNewItem", "Admin"))
            {
                    <div class="form-style-2">
                        <div class="form-style-2-heading" style="text-align:right">טופס הוספת מוצר</div>

                        <label for="field1"><span><span class="required">*</span>שם המוצר </span>@Html.TextBoxFor(m => m.Name, new { @class = "input-field" })</label>
                        <span style="color:red">@Html.ValidationMessageFor(x => x.Name)</span>
                        <label for="field2">
                            <span><span class="required">*</span>מק"ט</span>@Html.TextBoxFor(m => m.BarCode, new { @class = "input-field" })

                        </label>
                        <span style="color:red">@Html.ValidationMessageFor(x => x.BarCode)</span>
                        <label for="field2">
                            <span><span class="required">*</span>כמות</span>@Html.TextBoxFor(m => m.Amount, new { @class = "input-field" })
                        </label>

                        <span style="color:red">@Html.ValidationMessageFor(x => x.Amount)</span>


                        <label for="field3"><span><span class="required">*</span>מחיר</span>@Html.TextBoxFor(m => m.Price, new { @class = "input-field" })</label>
                        <span style="color:red">@Html.ValidationMessageFor(x => x.Price)</span>

                        <label for="field3"><span><span class="required">*</span>תמונה</span> @Html.TextBoxFor(m => m.url, new { @class = "input-field" ,@name="pic", onchange = "foo1()" })</label>
                        <span style="color:red">@Html.ValidationMessageFor(x => x.url)</span>
                       
                        <label>
                            <span>&nbsp;</span>  <input id="subEnter" name="subEnter" class="btn btn-success" type="submit" value="הוסף מוצר" />&nbsp;&nbsp;&nbsp;<input type="button" class="btn btn-info" onclick="foo1()" value="בדוק תמונה" />
                        </label>
                    </div>

                }
            </div>
            <hr>
        <center>
            <img src="" alt="תמונה" name="pic1" id="pic1"  width="300" height="300" />
        </center>
        </div>

     <!-- /container -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="~/css/js/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="~/css/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="~/css/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
