@model ComputerStore.ViewModel.inventoryVM
@using ComputerStore.Models
@*<head>
<meta name="viewport" content="width=device-width" />
<!-- Bootstrap core CSS -->
<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
<!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
<!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
<script src="http://getbootstrap.com/assets/js/ie-emulation-modes-warning.js"></script>
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
<!-- Custom styles for this template -->
<link href="http://getbootstrap.com/examples/carousel/carousel.css" rel="stylesheet">

</head>*@
@*<table border="1">
    <tr style="color:blue">
        <th>מק"ט"</th>
        <th>שם מוצר</th>
        <th>מלאי</th>
        <th>מחיר</th>
    </tr>
    @{
        foreach (Inventory item in Model.itemsList)
        {
            <tr style="color:black">
                <td>@item.BarCode</td>
                <td>@item.Name</td>
                <td>@item.Amount</td>
                <td>@item.Price</td>
            </tr>
        }
    }
</table>*@
<!-- Carousel
================================================== -->


    <div>

        <div class="container marketing">
            <div class="row">
                @{
                    foreach (Inventory item in Model.itemsList)
                    {
               <form action="buy" method="get">
                <div class="col-lg-4">
                    <center>
                        <img class="img-rounded" src="@item.url" alt="Generic placeholder image" width="140" height="140">

                        <h4>@item.Name</h4><input id="ref" name="ref" type="hidden" value="@item.BarCode" />
                        <h3>₪ @item.Price  : מחיר</h3>
                        @{if (@item.Amount == 0)
                            {<p> <span style="color:red">נגמר המלאי</span> </p>}
                            else if (@item.Amount == 1)
                            {<p><span style="color:red"> !אחרון במלאי - הקודם זוכה</span></p>
                            <input id="Submit1" type="submit" class="btn btn-default" value="לקניה" />}
                            else
                            { <input id="Submit1" type="submit" class="btn btn-default" value="לקניה" /> }

                        }
                    </center>
                    
                    

                </div><!-- /.col-lg-4 -->
                
            </form>
                            }
                        }
            </div><!-- /.row -->
        </div>
    </div>
